.hero {
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  text-align: center;
  // background-attachment: inherit;
  background-attachment: fixed;

  .hero__content {
    padding: 8rem 4rem;
    color: white;
    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}