{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
	
{% set namespace = 'listing' %}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    namespace,
    namespace ~ '--' ~ css_name
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {{ exposed }}
  {{ attachment_before }}

  {% if header %}
    <header class="{{ namespace ~ '__header' }}">
      <div class="{{ namespace ~ '__header-content' }}">
        {{ header }}
      </div>
    </header>
  {% endif %}
  
  {{ rows|without('pager_form') }}

  {% if empty %}
  <div class="{{ namespace ~ '__empty' }}">
    {{ empty }}
  </div>
  {% endif %}
  {{ attachment_after }}
  {{ more }}

  <footer class="{{ namespace ~ '__footer' }}">
    {{ rows.pager_form }}
    {{ pager }}

    {% if footer %}
      {{ footer }}
    {% endif %}
  </footer>


  {% if feed_icons %}
  <div class="{{ namespace ~ '__cta' }}">
    {{ feed_icons }}
  </div>
  {% endif %}
</div>
