{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
{{ attach_library('gars_main_search/filtered_results_link') }}
<div class="form--inline clearfix">
  <div class="area-header__type">
    {{ include('/themes/custom/gars/templates/_partial/svg-sprite.twig', { icon_id: 'corner' }) }}
    <span>
      {% if formtype == "views_exposed_form__search_study_option" %}
        {{ "Study option search"|t }}
      {% else %}
        {{ "Search"|t }}
      {% endif %}
   </span>
  </div>
  {{ form }}
</div>
