{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set namespace = 'listing' %}

{%
  set list_classes = [
    default_row_class ? 'views-row',
    namespace ~ '__item'
  ]
%}

{% if title %}
  <h3 class="{{ namespace ~ '__title' }}">{{ title }}</h3>
{% endif %}

<div class="{{ namespace ~ '__list' }}">
  {% for row in rows %}
    <div{{ row.attributes.addClass(list_classes) }}>
      {{ row.content }}
    </div>
  {% endfor %}
</div>
