{{ attach_library('gars_main_site/gars_accordion') }}
<section class='toggle'>

  <h2 class="toggle__label" id="{{ id }}">
    <div class="toggle__label__text">{{ label }}</div>
    <div class="toggle__label__icon">
      <div class="svg toggle__close">{{ include('/themes/custom/gars/templates/_partial/svg-sprite.twig', { icon_id: 'minus' }) }}</div>
      <div class="svg toggle__open">{{ include('/themes/custom/gars/templates/_partial/svg-sprite.twig', { icon_id: 'plus' }) }}</div>
    </div>
  </h2>

  <div class="toggle__content">
      {{ content }}
  </div>

</section>
