{#
/**
 * Custom logo template
 *
 * Available variables:
 * - language: 
 * - title:
 * - attributes:  
 * - color:
 */
#}

<div class="social_share_wrapper">
  <input type="checkbox" class="share_button"/>
  <label class="btn-label"><div>{{ include('/themes/custom/gars/templates/_partial/svg-sprite.twig', { icon_id: 'sharethis' }) }}</div><span>{{ 'Share this'|t }}</span></label>
  <div class="share_button_content" >
     {{ social_items }}
  </div>
</div>

