{#
/**
 * Custom logo template
 *
 * Available variables:
 * - language: 
 * - title:
 * - attributes:  
 * - color:
 */
#}


<nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
  <ul>
    <li>
       <a href="/{{ lang }}" class="breadcrump-home-item">
         {{ include('/themes/custom/gars/templates/_partial/svg-sprite.twig', { icon_id: 'home' }) }}
       </a>
    </li>
     {{ breadcrump }}
     <li class="breadcrump-nav-item">
      {% trans %}Navigation{% endtrans %}
    </li>
  </ul>
</nav>
