{#
/**
 * Custom logo template
 *
 * Available variables:
 * - language: 
 * - title:
 * - attributes:  
 * - color:
 */
#}

<a{{ partialAttributes }} href="{{ path('<front>') }}" rel="home">
  <span class="visually-hidden">{{ partialTitle }}</span>
  {{ include('/themes/custom/gars/templates/_partial/svg-sprite.twig', { icon_id: 'footer-logo-' ~ partialLanguage }) }}
</a>