{#
/**
 * Custom logo template
 *
 * Available variables:
 * - language: 
 * - title:
 * - attributes:  
 * - color:
 */
#}
<div class="header__logo">
  <a{{ partialAttributes }} href="{{ path('<front>') }}" rel="home">
    <span class="visually-hidden">{{ partialTitle }}</span>
    {{ include('/themes/custom/gars/templates/_partial/svg-sprite.twig', { icon_id: 'logo' ~ partialLanguage }) }}
  </a>
</div>