{# To ensure svg cache is refreshed, change the version number below #}
{% set version_number = '1' %}
<svg role="presentation"><use xlink:href="/assets/sprite.svg?version={{ version_number }}#{{ icon_id }}"></use></svg>
