/* SCSS Custom properties

  Example varible usage

  main {
      color: color(text);
      background-color: color(background);
      border: 1px solid color(primary,base);
  }

*/

$colors: (
  // color palette
  black: #000,
  white: #fff,
  gray: #666,
  gray-lighter: #d1d1d1,
  form-gray: #d1d4d6,
  gallery-gray: #eaeaea,
  gray-darker: #333,
  mineshaft-gray: #222,
  violet: #4e008e,
  pink: #f2c5ff,
  pink-darker: #fcbcff,
  orange: #ff7c7c,
  blue: #7ccbff,
  white-smoke: #f5f5f5,
  dove-gray: #707070,
  shamrock-green: #3fd1af,
  pale-purple: #d6a5ff,
  gray-darkest: #102027,
  // defaults
  text: white,
  background: gray,
  // nested map inception
  primary: (
    base: #4e008e,
    light: #8000ff,
    lighter: #972eff,
    dark: darken(#4e008e, 15%),
    trans: transparentize(#4e008e, 0.5)
  ),
  secondary: (
    base: #1f033a,
    light: lighten(#1f033a, 15%),
    dark: darken(#1f033a, 15%),
    trans: transparentize(#1f033a, 0.5)
  )
);

$header-search-background: #102027;
$header-font-color: color(form-gray);
$header-darker-font-color: color(gray);

// Fonts
$base-font: 'Open Sans', sans-serif;
// Common font sizes.
// Converted old px values to ems/rems.
// Original px value / 18, rounded to two decimals.
$base-font-size: 1rem;
$control-font-size: 0.89rem; // 16px
$small-font-size-min: 0.7rem; // ~14px
$small-font-size-max: 0.8rem; // ~14px
$nav-font-size: 0.83rem; // 15px
$cookie-banner-font-size: 1rem;
$hightlighted-text: 1.2rem;

$h1-font-size-min: 1.5rem; // 24px
$h1-font-size-max: 2.8rem; // 80px
$h2-font-size-min: 1.25rem; // 20px
$h2-font-size-max: 1.9rem; // 40px
$h3-font-size-min: 1rem; // 40px
$h3-font-size-max: 1.2rem; // 40px
$h4-font-size: 0.9rem; // 30px
$h5-font-size: 0.85rem; // 25px
$h6-font-size: 0.8rem; // 20px

/* Z-Index */
$z-index: (
  under            : -1,
  bottom           : 1,
  middle           : 10,
  top              : 20,
  topmost          : 30
);
//Usage @include z-index(top);

// Spacing
$sp-lg: 90px;
$sp-md: 30px;
$sp-sm: 15px;

// Layout
$container-width: 1200px;
$container-padding: 20px;
$text-max-width: 38rem;

// Misc
$max-width: 80em;
$max-width-medium: 55em;
$max-width-small: 51em;

// Transitions
$transition-color: 0.3s ease-in-out;
$transition-enter: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
$transition-enter-fast: 0.2s cubic-bezier(0.19, 1, 0.22, 1);

$btn-name: 'button' !default;
$btn-size-ratio: 1.2 !default;
$btn-hover: saturate 25% !default;
$btn-border: darken 20% !default;
$btn-background: (
  'default': #565656,
  'success': #468847,
  'danger': #b94a48,
  'warning': #c09853,
  'info': #3a87ad
) !default;

//svg path in theme
$svg-path: '/themes/custom/tre3/assets/component/svg';

