//
// Functions
//
// @group Helpers
//

// Removes unit from integer value
// @param {Number} $number - Integer with unit
// @return {Number}
// @example scss - Usage
//   $val: parseInt($value);
@function parseint($number) {
  @return $number / ($number * 0 + 1);
}

// Lighten a color by blending the color with white
// @param {Color} $color       - Color to tint
// @param {Number} $percentage - Percentage of `$color` in returned color
// @return {Color}
// @example scss - Usage
//   .foo {
//     background-color: tint(red, 40%);
//   }
@function tint($color, $percentage) {
  @return mix($color, white, $percentage);
}

// Darken a color by blending the color with black
// @param {Color} $color       - Color to shade
// @param {Number} $percentage - Percentage of `$color` in returned color
// @return {Color}
// @example scss - Usage
//   .foo {
//     color: shade(blue, 40%);
//   }
@function shade($color, $percentage) {
  @return mix($color, black, $percentage);
}

// Returns color as rgba with alpha
// @param {Color} $color   - Color
// @param {Number} $alpha  - Opacity of the color (0.0 – 1.0)
// @return {Color}
// @example scss - Usage
//   .foo {
//     background-color: transparentColor(red, 0.2);
//   }
@function transparentColor($color, $alpha) {
  @return rgba( red($color), green($color), blue($color), $alpha);
}

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

//Usage @include z-index(top);

//color example: color: color(text);
@function color($color-name, $color-variant: null) {

  // color variant is optional
  @if ($color-variant != null) {
    // map inception, need two deep
    @return map-get(map-get($colors, $color-name), $color-variant);
  }

  @else {
    // single-level color, one deep
    @return map-get($colors, $color-name);
  }
}
