// Custom selectors for scss?

// Dynamic responsive-declaration

// Usage responsive-declaration(‘padding’, 10%, 20%);

@mixin responsive-declaration($property, $valueMin, $valueMax) {
  #{$property}: $valueMin;

  @include media('small') {
    #{$property}: calc(#{$valueMin} + ((#{$valueMax} - #{$valueMin}) / 4) * 1);
    //calc(#{$valueMax} - #{$valueMin});
  }

  @include media('medium') {
    #{$property}: calc(#{$valueMin} + ((#{$valueMax} - #{$valueMin}) / 4) * 2);
  }

  @include media('large') {
    #{$property}: calc(#{$valueMin} + ((#{$valueMax} - #{$valueMin}) / 4) * 3);
  }

  @include media('xlarge') {
    #{$property}: $valueMax;
  }
}

// Add media query with min-width
// @param {Number} $point - Breakpoint
// Breakpoint usage
// @include media('medium') {
//  body {
//    font-weight: bold;
//  }

@mixin media($breakpoint) {
  @if map-has-key($bp, $breakpoint) {
    $breakpoint-value: map-get($bp, $breakpoint);
    $em-point: parseint($breakpoint-value) * $root-fs-factor / 10;

    @media screen and (min-width: $em-point * 1em) { @content; }
  }
}

// Mixin for buttons or links styled with button style.
@mixin button {
  appearance: none;
  background-color: color(primary, base);
  border: 0;
  box-shadow: none;
  color: color(white);
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: calc(0.5em + 1px) 2.5em; // Compensate the border in text inputs
  transition: background-color $transition-color;

  &:hover {
    background-color: color(primary, light);
  }
}

@mixin button-color($color) {
  background-color: $color;
}
