@mixin animated-link(
  $link-color-name: white,
  $link-color-variant: null,
  $hover-color-name: black,
  $hover-color-variant: null) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2;
  text-decoration: none;
  width: 100%;
  transition: 0.5s ease-in-out;
  padding-left: 0.5em;
  margin-top: -1px;
  border-top: 1px solid color($link-color-name, $link-color-variant);
  border-bottom: 1px solid color($link-color-name, $link-color-variant);
  color: color($link-color-name, $link-color-variant);
  fill: color($link-color-name, $link-color-variant);

  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -1px;
    background-color: color($link-color-name, $link-color-variant);
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
  }

  &:hover {
    color: color($hover-color-name, $hover-color-variant);
    fill: color($hover-color-name, $hover-color-variant);

    &:before {
      transform: translateX(0);
    }
  }

  svg {
    flex: 0 0 auto;
    width: 2.5em;
    height: 2.5em;
  }
}

@mixin background-image($grayscale: 1, $black: 0.75) {
  filter: grayscale($grayscale);

  &:before {
    background: rgba(black, $black);
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include z-index(top);
  }

  &,
  img {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  img {
    object-fit: cover;
  }
}

@mixin escape--layout-container__narrow() {
  max-width: 1200px;

  @include media(small) {
    //border-top: solid 2px blue;
    margin-left: - $sp-sm;
    width: calc(100vw - #{$sp-sm} * 3);
  }

  @include media(medium) {
    //border-top: solid 2px green;
    margin-left: - $sp-lg;
    width: calc(100vw - #{$sp-sm} * 2 - #{$sp-lg} * 2);
  }
}

@mixin escape--layout-container__medium() {
  @include media(small) {
    //border-top: solid 2px blue;
    margin-left: - $sp-sm;
    width: calc(100vw - #{$sp-sm} * 2);
  }

  @include media(medium) {
    //border-top: solid 2px green;
    margin-left: - $sp-lg;
    width: calc(100vw - #{$sp-sm} * 0 - #{$sp-lg} * 2);
  }
}

@mixin escape--layout-container__wide() {
  @include media(small) {
    //border-top: solid 2px blue;
    margin-left: - $sp-sm;
    width: calc(100vw - #{$sp-sm} * 0);
  }

  @include media(medium) {
    //border-top: solid 2px green;
    margin-left: - $sp-lg;
    width: calc(100vw - #{$sp-sm} * 0 - #{$sp-lg} * 1);
  }
}
