// General theming
html {
  @include responsive-declaration("line-height", 1.6, 1.778);

  @include media('small') {
    font-size: 1rem;
  }

  @include media('medium') {
    font-size: 17px;
  }

  @include media('large') {
    font-size: 18px;
  }

  width: 100%;
  font-family: $base-font;
  font-weight: 400;
  letter-spacing: 0.015em;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin: 0 0 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px;
}

h1 {
  font-weight: 600;
  line-height: 1.25em;

  @include responsive-declaration("font-size", $h1-font-size-min, $h1-font-size-max);

  @include media(small) {
    font-weight: 400;
  }
}

h2 {
  @include responsive-declaration("font-size", $h2-font-size-min, $h2-font-size-max);

  font-weight: 600;
}

h3 {
  @include responsive-declaration("font-size", $h3-font-size-min, $h3-font-size-max);

  font-weight: 600;
}

h4 {
  font-size: $h4-font-size;
  font-weight: 400;
}

h5 {
  font-size: $h5-font-size;
  font-weight: 400;
}

h6 {
  font-size: $h6-font-size;
  font-weight: 400;
}

blockquote {
  font-size: $hightlighted-text;
  font-weight: 600;
  padding-left: 1.3em;

  p {
    font-size: $hightlighted-text;
  }

  @include media(large) {
    padding-left: 2em;
  }

  @include media(xlarge) {
    padding-left: 0;
  }
}

ul,
ol {
  margin: 0 0 30px;
  padding-left: 0;
}

a {
  color: color(primary, base);
  font-weight: 500;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

picture,
figure {
  display: inline-block;
  vertical-align: top;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

select {
  background-position: top 50% right 1.5em;
  background-size: 0.75em 0.75em;
  background-repeat: no-repeat;
  font-weight: 500;
  border-radius: 0;
  padding: 0.25em 0.5em;
  padding-right: 2em;
  appearance: none;
}

input {
  border-radius: 0;
}

.svg {
  position: relative;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

figcaption {
  margin: 1em;
  font-size: $small-font-size-max;
}

:focus {
  outline: 2px solid color(primary, light);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  /* Non standard for webkit */
  word-break: break-word;
  overflow-wrap: break-word;

  /* auto hyphention */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
