@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
/**
 * core.css
 *
 * Library
 *
 * Index
 * - Imports
 */

/* stylelint-disable */

/* SCSS Custom properties

  Example varible usage

  main {
      color: color(text);
      background-color: color(background);
      border: 1px solid color(primary,base);
  }

*/

/* Z-Index */

html {
  line-height: 1.6;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.015em;
  overflow-x: hidden;
  box-sizing: border-box;
}

@media screen and (min-width: 49.1875em) {
  html {
    line-height: calc(1.6 + ((1.778 - 1.6) / 4) * 1);
  }
}

@media screen and (min-width: 60em) {
  html {
    line-height: calc(1.6 + ((1.778 - 1.6) / 4) * 2);
  }
}

@media screen and (min-width: 80em) {
  html {
    line-height: calc(1.6 + ((1.778 - 1.6) / 4) * 3);
  }
}

@media screen and (min-width: 120em) {
  html {
    line-height: 1.778;
  }
}

@media screen and (min-width: 49.1875em) {
  html {
    font-size: 1rem;
  }
}

@media screen and (min-width: 60em) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 80em) {
  html {
    font-size: 18px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin: 0 0 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px;
}

h1 {
  font-weight: 600;
  line-height: 1.25em;
  font-size: 1.5rem;
}

@media screen and (min-width: 49.1875em) {
  h1 {
    font-size: calc(1.5rem + ((2.8rem - 1.5rem) / 4) * 1);
  }
}

@media screen and (min-width: 60em) {
  h1 {
    font-size: calc(1.5rem + ((2.8rem - 1.5rem) / 4) * 2);
  }
}

@media screen and (min-width: 80em) {
  h1 {
    font-size: calc(1.5rem + ((2.8rem - 1.5rem) / 4) * 3);
  }
}

@media screen and (min-width: 120em) {
  h1 {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 49.1875em) {
  h1 {
    font-weight: 400;
  }
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

@media screen and (min-width: 49.1875em) {
  h2 {
    font-size: calc(1.25rem + ((1.9rem - 1.25rem) / 4) * 1);
  }
}

@media screen and (min-width: 60em) {
  h2 {
    font-size: calc(1.25rem + ((1.9rem - 1.25rem) / 4) * 2);
  }
}

@media screen and (min-width: 80em) {
  h2 {
    font-size: calc(1.25rem + ((1.9rem - 1.25rem) / 4) * 3);
  }
}

@media screen and (min-width: 120em) {
  h2 {
    font-size: 1.9rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 49.1875em) {
  h3 {
    font-size: calc(1rem + ((1.2rem - 1rem) / 4) * 1);
  }
}

@media screen and (min-width: 60em) {
  h3 {
    font-size: calc(1rem + ((1.2rem - 1rem) / 4) * 2);
  }
}

@media screen and (min-width: 80em) {
  h3 {
    font-size: calc(1rem + ((1.2rem - 1rem) / 4) * 3);
  }
}

@media screen and (min-width: 120em) {
  h3 {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 0.9rem;
  font-weight: 400;
}

h5 {
  font-size: 0.85rem;
  font-weight: 400;
}

h6 {
  font-size: 0.8rem;
  font-weight: 400;
}

blockquote {
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 1.3em;
}

blockquote p {
  font-size: 1.2rem;
}

@media screen and (min-width: 80em) {
  blockquote {
    padding-left: 2em;
  }
}

@media screen and (min-width: 120em) {
  blockquote {
    padding-left: 0;
  }
}

ul,
ol {
  margin: 0 0 30px;
  padding-left: 0;
}

a {
  color: #4e008e;
  font-weight: 500;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

picture,
figure {
  display: inline-block;
  vertical-align: top;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

select {
  background-position: top 50% right 1.5em;
  background-size: 0.75em 0.75em;
  background-repeat: no-repeat;
  font-weight: 500;
  border-radius: 0;
  padding: 0.25em 0.5em;
  padding-right: 2em;
  appearance: none;
}

input {
  border-radius: 0;
}

.svg {
  position: relative;
}

.svg svg {
  display: block;
  width: 100%;
  height: 100%;
}

figcaption {
  margin: 1em;
  font-size: 0.8rem;
}

:focus {
  outline: 2px solid #8000ff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  /* Non standard for webkit */
  word-break: break-word;
  overflow-wrap: break-word;
  /* auto hyphention */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.layout__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  background: #c01176;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 -1px 3px #666;
  background: #8000ff;
}

.header .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__inner .header__logo {
  width: 20%;
  padding: 5px;
}

.header .header__inner .header__logo > a {
  display: flex;
  align-items: center;
  height: 100%;
}

.header .header__inner .header__logo svg {
  width: 100%;
  height: 50px;
  max-width: 100px;
}

.toolbar-oriented + div header {
  position: initial;
}

.toolbar-oriented + div main#main {
  margin-top: 0;
}

.hero {
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background-attachment: fixed;
}

.hero .hero__content {
  padding: 8rem 4rem;
  color: white;
}

.hero .hero__content h2 {
  font-size: 3rem;
}

.hero .hero__content p {
  font-size: 1.5rem;
}

/*# sourceMappingURL=theme.css.map*/